
[data-novi-id="19"]{
  font-weight: 700;
  font-size: 22px;
}
[data-novi-id="43"]{
  color: #ffffff;
}
[data-novi-id="42"]{
  color: #ffffff;
  font-size: 38px;
}
[data-novi-id="41"]{
  font-weight: 700;
  font-size: 30px;
}
[data-novi-id="40"]{
  font-weight: 700;
  font-size: 30px;
}
[data-novi-id="39"]{
  font-weight: 700;
  font-size: 30px;
}
[data-novi-id="38"]{
  font-weight: 700;
  font-size: 30px;
}
[data-novi-id="37"]{
  
  font-size: 30px;
  
  
}
[data-novi-id="36"]{
  font-size: 45px;
}
[data-novi-id="35"]{
  font-size: 45px;
}
[data-novi-id="34"]{
  font-size: 45px;
}
[data-novi-id="33"]{
  font-size: 45px;
}
[data-novi-id="32"]{
  font-size: 45px;
}
[data-novi-id="31"]{
  font-size: 45px;
}
[data-novi-id="30"]{
  font-size: 45px;
}
[data-novi-id="29"]{
  font-size: 45px;
}
[data-novi-id="28"]{
  font-size: 45px;
}
[data-novi-id="27"]{
  font-size: 45px;
}
[data-novi-id="26"]{
  font-size: 45px;
}
[data-novi-id="25"]{
  font-size: 45px;
  font-size: 38px;
}
[data-novi-id="24"]{
  font-size: 45px;
  font-size: 38px;
}
[data-novi-id="23"]{
  font-size: 45px;
  font-size: 15px;
}
[data-novi-id="22"]{
  font-size: 45px;
  font-size: 15px;
}
[data-novi-id="21"]{
  font-size: 45px;
  font-size: 15px;
}
[data-novi-id="20"]{
  font-size: 45px;
  font-size: 38px;
}
[data-novi-id="18"]{
  font-size: 45px;
  font-size: 22px;
}
[data-novi-id="17"]{
  font-size: 45px;
  font-size: 38px;
  
}
[data-novi-id="16"]{
  font-weight: 700;
}
[data-novi-id="15"]{
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  font-size: 38px;
}
[data-novi-id="14"]{
  color: rgba(212, 212, 212, 1);
  color: rgba(35, 31, 30, 1);
  color: rgba(255, 255, 255, 1);
  
  font-size: 21px;
  font-weight: 700;
}
[data-novi-id="13"]{
  
  
  
  color: rgba(179, 8, 20, 0.9);
  
  
  
  color: rgba(255, 255, 255, 1);
  
  
  
  color: rgba(255, 255, 255, 1);
  
  
  
  font-weight: 700;
  
  
  
  font-size: 19px;
}
[data-novi-id="12"]{
  color: rgb(247, 247, 247);
  color: rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, 1);
  
  font-size: 19px;
  font-size: 20px;
  text-transform: capitalize;
  
}
[data-novi-id="11"]{
  color: rgb(247, 247, 247);
  color: rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  font-weight: 700;
  font-size: 45px;
}
[data-novi-id="10"]{
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  color: #ffffff;
  font-size: 38px;
  font-size: 45px;
}
[data-novi-id="9"]{
  color: rgba(255, 255, 255, 1);
  
  color: rgba(35, 31, 30, 1);
  color: rgba(34, 32, 30, 1);
  color: #ffffff;
  font-size: 2px;
  font-size: 38px;
  color: rgb(2, 2, 3);
  font-family: Open Sans, sans-serif;
  
  
  
  
}
[data-novi-id="12"]{
  text-align: center;
}
[data-novi-id="11"]{
  text-align: center;
}
[data-novi-id="10"]{
  text-align: center;
}
[data-novi-id="9"]{
  text-transform: capitalize;
  line-height: 1.2px;
  font-size: 30px;
  
  
}
[data-novi-id="8"]{
  
  
  
  color: rgba(179, 8, 20, 0.9);
  
  
  
  color: rgba(255, 255, 255, 1);
  
  
  
  color: rgba(35, 31, 30, 1);
  
  
  
  color: #ffffff;
  
  
  
  font-family: 'Raleway', sans-serif;
  
  
  
  
  
  
  
  letter-spacing: 0px;
  
  
  
  color: #ffffff;
  
  
  
  font-weight: 700;
  
  
  
  
  
  
  
  text-align: center;
  
  
  
  font-style: italic;
  
  
  
  font-size: 15px;
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
}
[data-novi-id="7"]{
  color: rgba(212, 212, 212, 1);
  color: rgba(35, 31, 30, 1);
  color: rgba(35, 31, 30, 1);
  color: #ffffff;
  color: #ffffff;
  color: rgba(35, 31, 30, 1);
  color: #ffffff;
  font-size: 20px;
  font-size: 20px;
  text-transform: capitalize;
  
  
  
  
  
  
}
[data-novi-id="6"]{
  color: rgba(212, 212, 212, 1);
  color: rgba(35, 31, 30, 1);
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  color: rgba(35, 31, 30, 1);
  color: rgba(34, 32, 30, 1);
  font-size: 38px;
  color: rgba(35, 31, 30, 1);
  color: #ffffff;
  font-size: 45px;
  font-size: 45px;
  text-transform: uppercase;
  
}
[data-novi-id="5"]{
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  color: rgba(34, 32, 30, 1);
}
[data-novi-id="4"]{
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  color: rgba(34, 32, 30, 1);
  
}
[data-novi-id="3"]{
  
  
  
  color: rgba(179, 8, 20, 0.9);
  
  
  
  color: rgba(255, 255, 255, 1);
  
  
  
  color: rgba(255, 255, 255, 1);
  
  
  
  font-weight: 700;
  
  
  
  color: rgba(34, 32, 30, 1);
}
[data-novi-id="2"]{
  text-transform: capitalize;
  font-style: italic;
}
[data-novi-id="1"]{
  color: rgb(247, 247, 247);
  color: rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, 1);
  
  color: #ffffff;
}
[data-novi-id="0"]{
  color: rgb(247, 247, 247);
  color: rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  color: #ffffff;
  font-size: 45px;
  
}
@media (max-width: 479px){
[data-novi-id="12"]{
  text-transform: capitalize;
  text-transform: lowercase;
  text-transform: uppercase;
  text-transform: lowercase;
  text-transform: capitalize;
  text-transform: lowercase;
  text-transform: uppercase;
  text-transform: capitalize;
  text-transform: uppercase;
  text-transform: lowercase;
}
}
